{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "ignorePatterns": ["*.js"],
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:@typescript-eslint/stylistic"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],

    "class-methods-use-this": "off",
    "@typescript-eslint/class-methods-use-this": "error",

    "dot-notation": "off",
    "@typescript-eslint/dot-notation": "error",

    "no-array-constructor": "off",
    "@typescript-eslint/no-array-constructor": "error",

    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "error",

    "@typescript-eslint/no-extraneous-class": ["error", {"allowStaticOnly": true}],

    "no-extra-semi": "off",
    "@typescript-eslint/no-extra-semi": "error",

    "no-loop-func": "off",
    "@typescript-eslint/no-loop-func": "error",

    "no-loss-of-precision": "off",
    "@typescript-eslint/no-loss-of-precision": "error",

    "no-magic-numbers": "off",
    "@typescript-eslint/no-magic-numbers": "off",

    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",

    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "error",

    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",

    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",

    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",

    "@typescript-eslint/class-literal-property-style": ["error", "getters"],

    "@typescript-eslint/no-inferrable-types": "off"
  }
}
